body{
margin:0;
overflow:hidden;
}

canvas{
display:block;
}

#ui{
position:absolute;
left:20px;
top:20px;
font-size:35px;
color:white;
z-index:5;
}

#jump{
position:absolute;
bottom:30px;
right:30px;

width:90px;
height:90px;

background:#ffffff88;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:50px;

}
